################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChannelPartnerApplication/v16/.suo
/ChannelPartnerApplication/obj
/ChannelPartnerApplication/bin/Debug/netcoreapp3.1
/.vs/ChannelPartnerApplication/config
