################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChannelPartnerApplication/v16/.suo
/ChannelPartnerApplication/obj
/ChannelPartnerApplication/bin/Debug/netcoreapp3.1
/.vs/ChannelPartnerApplication/config
/.vs/ChannelPartnerApplication/DesignTimeBuild/.dtbcache.v2
/ChannelPartnerApplication/ChannelPartnerApplication.csproj.user
/ChannelPartnerApplication/bin/Release/netcoreapp3.1/Properties
/ChannelPartnerApplication/bin/Release/netcoreapp3.1/runtimes
/ChannelPartnerApplication/bin/Release/netcoreapp3.1
/ChannelPartnerApplication/Properties/PublishProfiles
/ChannelPartnerApplication/wwwroot/image/CareerExpert
